<h1>Follow Users</h1>
<table class='table'>
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th><%= image_tag current_user.get_profile_image, size: '50x50' %></th>
      <th><%= current_user.name %></th>
      <th>フォロー数: <%= current_user.followings.count %></th>
      <th>フォロワー数: <%= current_user.followers.count %></th>
      <th><%= link_to 'Show', user_path(current_user) %></th>
    </tr>
  </tbody>
</table>
